<div class="app-content">
  <md-toolbar color="primary">Emotion

  </md-toolbar>
  <md-card>
    <img md-card-image src="../../assets/sec.jpg">

    <h1> Q1: How are you feeling about what you are currently doing as part of your design process?</h1>

  </md-card>
  <md-progress-bar
    class="example-margin"
    [attr.color]="primary"
    [mode]="determinate">
  </md-progress-bar>

  <md-list class="ul">
    <md-list-item class="ur1" >Insanely great</md-list-item>
    <md-list-item class="ur2" >Great</md-list-item>
    <md-list-item class="ur3" >Very good</md-list-item>
    <md-list-item class="ur4" routerLink="/thirdpage">Good</md-list-item>
  </md-list>

</div>
