<div class="app-content">
  <md-toolbar color="primary">Emotion

  </md-toolbar>
  <md-card>
    <img md-card-image src="../../assets/sec.jpg">

    <h1> How are you feeling emotionally? </h1>

  </md-card>
  <md-progress-bar
    class="example-margin"
    [attr.color]="primary"
    [mode]="determinate">
  </md-progress-bar>

  <md-list class="ul">
    <md-list-item class="ur1" >Alone</md-list-item>
    <md-list-item class="ur2" >Collaboratively with peers</md-list-item>
    <md-list-item class="ur3" routerLink="/addtionthree1">Collaboratively with peers and teachers</md-list-item>
  </md-list>

</div>
