<div class="app-content">
  <md-toolbar color="primary">Emotion

  </md-toolbar>
  <md-card>
    <!--<img md-card-image src="../../assets/sec.jpg">-->

    <h1> How are you feeling about what you are currently doing as part of your design process?</h1>

  </md-card>
  <md-progress-bar
    class="example-margin"
    [attr.color]="primary"
    [mode]="determinate">
  </md-progress-bar>

  <md-list class="ul">
    <md-list-item class="ur1" >Insamely great</md-list-item>
    <md-list-item class="ur2" >Great</md-list-item>
    <md-list-item class="ur3" >Very good</md-list-item>
    <md-list-item class="ur4" >Good</md-list-item>
    <md-list-item class="ur5">OK</md-list-item>
    <md-list-item class="ur6" >So-so</md-list-item>
    <md-list-item class="ur7" >Meh</md-list-item>
    <md-list-item class="ur8" >Bad</md-list-item>
    <md-list-item class="ur9" >Very Bad</md-list-item>
    <md-list-item class="ur10"  routerLink="/fifthpage">Couldn't be worth</md-list-item>
  </md-list>

</div>
