<div class="app-content">
  <md-toolbar color="primary">Emotion

  </md-toolbar>
  <md-card>
    <!--<img md-card-image src="../../assets/sec.jpg">-->

    <h1> What part of the design process are currently doing?</h1>

  </md-card>
  <md-progress-bar
    class="example-margin"
    [attr.color]="primary"
    [mode]="determinate">
  </md-progress-bar>

  <md-list class="ul">
    <md-list-item class="ur1" >Research</md-list-item>
    <md-list-item class="ur2" >Brainstorming</md-list-item>
    <md-list-item class="ur3" >Design Ideation</md-list-item>
    <md-list-item class="ur4" >Sketching</md-list-item>
    <md-list-item class="ur5">Rendering</md-list-item>
    <md-list-item class="ur6" >Sketch modelling</md-list-item>
    <md-list-item class="ur7" >Experimenting/user testing</md-list-item>
    <md-list-item class="ur8" >Presentation modelling</md-list-item>
    <md-list-item class="ur9" >Presentation boards</md-list-item>
    <md-list-item class="ur10">Planning</md-list-item>
    <md-list-item class="ur11"  routerLink="/fourthpage">other</md-list-item>
  </md-list>

</div>
