.h1{
  background-color: #9d7ed6;
  color: white;
}

md-list{
  padding: 0px;
}
md-list.ul md-list-item.ur11{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur10{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur9{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur8{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur7{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur6{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur5{
  background-color: #7d53c8;
  text-align: center;
  color: white;

}
md-list.ul md-list-item.ur4{
  background-color: #9d7ed6;
  text-align: center;
  color: white;

}
md-list.ul md-list-item.ur3{
  background-color: #673ab7;
  text-align: center;
  color: white;


}
md-list.ul md-list-item.ur2{
  background-color: #7d53c8;
  text-align: center;
  color: white;

}
md-list.ul md-list-item.ur1{
  background-color: #9d7ed6;
  text-align: center;
  color: white;

}
