<div class="app-content">
  <md-toolbar color="primary">Emotion

  </md-toolbar>
  <md-card>
    <img md-card-image src="../../assets/sec.jpg">

    <h1> How are you feeling emotionally? </h1>

  </md-card>
  <md-progress-bar
    class="example-margin"
    [attr.color]="primary"
    [mode]="determinate">
  </md-progress-bar>

  <md-list class="ul">
    <md-list-item class="ur1" >I feel awesome</md-list-item>
    <md-list-item class="ur2" >I'm feeling good</md-list-item>
    <md-list-item class="ur3" >I feel alright</md-list-item>
    <md-list-item class="ur4" >I'm a little stressed</md-list-item>
    <md-list-item class="ur5" >I feel terrible</md-list-item>
  </md-list>

</div>
